# file options

--exclude Documentation

# format options

--allman true
--elseposition next-line
--guardelse next-line
--indent 4
--semicolons never
--shortoptionals always
--stripunusedargs always
--trimwhitespace always
--wraparguments after-first
--wrapcollections after-first
